// This is an additional comment to prove the webhooks methodology from GITHUB and AWS
// Adding an extra comment for push # 2 to webhooks
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
